//- Listado de empleados
extends ../layouts/main

block contenido
  h1 Lista de Empleados
  a.btn(href="/empleados/crear") + Nuevo Empleado

  table
    thead
      tr
        th Nombre
        th Email
        th Rol
        th Área
        th Acciones
    tbody
      each empleado in empleados
        tr
          td #{empleado.nombre}
          td #{empleado.email}
          td #{empleado.rol}
          td #{empleado.area}
          td
            // Botón para expandir detalles
            button.btn.expand-btn(data-id=empleado.id) Detalles
            a.btn(href=`/empleados/editar/${empleado.id}`) Editar
            form(action=`/empleados/eliminar/${empleado.id}?_method=DELETE`, method="POST", style="display:inline")
              button.btn.eliminar(type="submit", class="btn-eliminar") Eliminar

        // Detalles expandibles
        tr.detalle(id='detalle-' + empleado.id, style="display:none")
          td(colspan="5")
            p Habilidades: #{empleado.habilidades.join(', ')}
            p Especialidad: #{empleado.especialidad}
